* {
  font-family: 'Sour Gummy', cursive;
  box-sizing: border-box;
}

button, a {
  white-space: nowrap;
  cursor: pointer;
}

html, body {
  padding: 0;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.blink {
  animation: blink 0.1s infinite;
}

@keyframes pop-animation {
0% {
    transform: scale(0) rotate(-30deg);
  }
  10% {
    transform: scale(1) rotate(-15deg);
  }
  80% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 0;
  visibility: hidden;
  pointer-events: none;
  }
}

.pop {
  position: relative;
}

.pop::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: pop-animation 0.5s forwards;
  font-size: 50px;
  font-weight: bold;
  background-image: url('/pop-red.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.pop.red::after {
  background-image: url('/pop-red.png');
}

.pop.blue::after {
  background-image: url('/pop-green.png');
}

@keyframes float {
0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(-3px, -4px) rotate(-1deg);
  }
  50% {
    transform: translate(4px, -3px) rotate(2deg);
  }
75% {
    transform: translate(-3px, 4px) rotate(-1deg);
  }100% {
    transform: translate(0, 0) rotate(0deg);
  }
}


.bubble {
  position: relative;
}

.bubble::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 50px;
  font-weight: bold;
  animation: float 6s ease-in-out infinite;
}

.bubble.x::after {
  content: '';
  background-image: url('/x.webp');
  background-size: cover;
}
.bubble.o::after {
  content: '';
  background-image: url('/o.webp');
  background-size: cover;
}

.board {
  background-image: url('/gradient.png');
  
  width: 100%;
  min-height: 100dvh;
  position: relative;
}

.main-grid {
  background-image: url('/board.webp');
  background-size: cover;
  background-position: center -17px;
}

.shadows::before {
  content: '';
  width: 100%;
  height: 100%; 
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-image: url('/shadows.png');
  background-position: bottom;
  background-size: cover;
  opacity: 0.2;
  pointer-events: none;
}
